<span class="btn btn-success glyphicon glyphicon-refresh"
      title="Refresh" (click)="refreshAuth()"></span>
<hr>


<div class="col-sm-12 form-horizontal" style="margin-top: 20px;">
    <div>
        <ul class="trapTab">
            <li class="trapTab" [class.selected]="selectedTab== 'KYC'" (click)="selectedTab= 'user'">
                KYC
            </li>

        </ul>
    </div>
    <div  style="margin-top: 20px;">
        <div *ngSwitchCase="'KYC'">




        </div>
       <!-- <div *ngSwitchCase="'role'">
            <role-auth #roleAuth></role-auth>
        </div>
        <div *ngSwitchCase="'tenant'">
            <tenant-auth #tenantAuth></tenant-auth>
        </div>-->
    </div>
</div>
