<div class="container">

    <!--    <div style="text-align:center">
            <h1>
                Welcome to {{title}}!
            </h1>
        </div>-->

    <h1 class="text-center">Customer Search</h1>
    <form #loginform="ngForm" ngNativeValidate>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 form-group">
                <label for="custId">Customer Id</label>
                <input type="text" class="form-control" id="custId" placeholder="XXXXXXXXXX" name="custId"
                       [(ngModel)]="customerId" (keydown)="keyDownListener($event)" required>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="button" (click)="searchCustomer()" class="btn btn-info btn-block center-block">Search
                </button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
</div>

<div class="container-fluid" *ngIf="delta && delta.length!= 0">

    <h3 class="text-center">Delta Changes to Verify</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Customer ID</th>
            <th>Update Type</th>
            <th>View Changes</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let changes of delta">
            <td>
                {{changes?.custId}}
            </td>
            <td>
                {{changes?.updateType}}
            </td>
            <td>
                <button type="button" class="btn btn-default" (click)="setChangeValue(changes)">View Changes</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<modal #authModal [cssClass]="'modal-xl'">
    <modal-header>
        <h3>
            Authentication Summary:
        </h3>
    </modal-header>
    <modal-body class="">
        <table class="table table-bordered" *ngIf="changes">
            <thead>
            <tr>
                <th> Old Data</th>
                <th> New Data</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td *ngIf="changes.oldDetails" style="max-width: 250px;overflow-wrap: break-word;">{{displayString(changes.oldDetails)}}</td>
                <td *ngIf="!changes.oldDetails" style="max-width: 250px;overflow-wrap: break-word;">Old data not available</td>
                <td style="max-width: 250px;overflow-wrap: break-word;">{{displayString(changes?.newDetails)}}</td>
            </tr>
            </tbody>
        </table>

    </modal-body>

     <modal-footer *ngIf="changes" >
        <label *ngIf="changes.canVerify" class="pull-left" for="remarks">Remarks :</label>
        <div style="margin-bottom: 12px" *ngIf="changes.canVerify">
            <input type="text" class="form-control" id="remarks" name="remarks"
                   title="Remarks" placeholder="Enter Remarks" [(ngModel)]="remarks">
        </div>

        <button *ngIf="changes.canVerify" type="button" class="btn btn-success"
                (click)="verifyChange(changes.custId , changes.updateType , 'YES' )"><span
                class="glyphicon glyphicon-ok"></span></button>
        <button *ngIf="changes.canVerify" type="button" class="btn btn-danger"
                (click)="verifyChange(changes.custId , changes.updateType , 'NO'  )"><span
                class="glyphicon glyphicon-remove"></span></button>

        <button type="button" class="btn btn-default" (click)="closeModal()">Back</button>
    </modal-footer>
</modal>
