body {
		font: small arial, helvetica, sans-serif;
                background : #F5F5F5;  
	}
	
	#header ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	#header li {
		display: inline;
		margin: 0 2px 0 0;
	}
	
	#header a {
		padding: 1em 7em;
		text-decoration: none;
		color: white;
		background: #C11A17;
                border-style: solid;
               border-color: #C11A17;
               font-weight: bold;
	       box-shadow: 5px 4px 13px #C11A17;
	}
	
	#header a:hover {
		background: #183A7D;
		color: white;
		font-weight: bold;
		 border-color: #183A7D;
		box-shadow: 5px 4px 13px #183A7D;
		
	}
	
	#header #selected {
	}
	
	#header #selected a {
		padding-bottom: 2px;
		font-weight: bold;
		color: white;
		background: #183A7D;
		 border-color: #183A7D;
		box-shadow: 5px 4px 13px #183A7D;
	}
	
	#content {
		border-top: 2px solid red;
		/*background: #183A7D;*/
		padding: 1em;
		
	}
	
	#content p {
		margin: 0;
		padding: 1em;
		background: #F3F1F1;
	}
	
	h1 {
		font-size: 1.5em;
		color:#AE0F26;
	}
	#logout
	{
	position:absolute;
	top:35px;
	right:55px;
	}
