.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
    border: 0;
}

@media (min-width: 768px) {
    .sidebar-kyc {
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        /*background-color: #f5f5f5;*/
        border: 1px solid #eee;
    }
}

.nav-sidebar-kyc {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar-kyc > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar-kyc > .active > a,
.nav-sidebar-kyc > .active > a:hover,
.nav-sidebar-kyc > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.header{
    background-color: #428bca;
}

label {
    color: #444;
    font-weight: 700;
    text-transform: capitalize;
}
