h1 {
    font-family: Helvetica;
    font-weight: 100;
}
body {
    color:#333;
    font-family: arial;
}

.nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav li {
    float: left;
    width: 160px;
    position: relative;
    font-size: 0.8em;
}

.nav li a {
    /*background: #7A0202;*/
    background:#003366;
    color: #fff;
    display: block;
    padding: 7px 8px;
    text-decoration: none;
    border-top: 1px solid #069;
    border-bottom-style:none;
}

.nav li a:hover {
    //color: #94B8B8;
}

.nav li a:active{
    background: #FFFFFF;
    color:#000000;
}

.nav li a:focus {
    color: #000;
    background: #FFFFFF;
}

.treeRightPanel{
    background: none repeat scroll 0 0 #FCFCFC;
    float: left;
    height: 100%;
    margin-bottom: 8px;
    margin-left: 15px;
    margin-top: -12px;
    width: 82%;
}

.treeLeftPanel{
    background: none repeat scroll 0 0 #FCFCFC;//#F0F5F5;
    border: 1px solid #C0C0C0;
    border-radius: 7px;
    float: left;
    height: 100%;
    margin:-13px -8px -8px -18px;
    width: 18%;
}

.tableAttr{

}

.fontFmly{
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.79em;
	white-space: nowrap;
}

.fontSize{ font-size:13px;}

table tr.separator { height: 30px; }

.hightlightDiv{
border:1px solid #CC0000;
}

    /* Style for overlay and box */
.overlay{
            background:transparent url(../images/overlay.png) repeat top left;
            position:fixed;
            top:0px;
            bottom:0px;
            left:0px;
            right:0px;
            z-index:100;
        }

.boxTab{
    position:fixed;
    top:-303px;
    left:27%;
    right:7%;
    height:303px;
    background-color:#fff;
    color:#7F7F7F;
    padding:30px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}

.boxTab h3{
    border-bottom: 1px dashed #A9C0CE;
    margin:-20px -20px 0px -20px;
    padding:5px;
    background-color:#A9C0CE;
    color:#FFFFFF;
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}
a.boxclose{
    float:right;
    width:26px;
    height:25px;
    background:transparent url(../images/cancel.png) no-repeat top left;
    margin-top:-46px;
    margin-right:-41px;
    cursor:pointer;
    z-index: 101;
}


.analTab{
    position:fixed;
    top:-250px;
    left: 35%;
    right: 10%;
    height:120px;
    width:350px;
    background-color:#fff;
    color:#7F7F7F;
    padding:30px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}

.odd{
 background-color: #D3D6FF;
}

.even {
    background-color: #FFFFFF;
}

.analTab h3{
    border-bottom: 1px dashed #A9C0CE;
    margin:-20px -20px 0px -20px;
    padding:5px;
    background-color:#A9C0CE;
    color:#FFFFFF;
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}



