

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: #7FCDE7;
    color: green;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
    background-color: #129ACD;
}

li.dropdown:hover > .dropdown-menu > li:hover > a:hover{
    display: block;
    background-color: #7FCDE7;
    cursor:pointer;
}

.baseNavBar {
    background: #129acb;
    box-shadow: 4px 1px 5px 0 rgba(0,0,0,.24);
}

.selected-submenu {
    background: #01688a;
    color: #ffffff;
}

.customNav {
    padding-left: 0;
    list-style: none;
    float: left;
    margin: 0;
    border-radius: 0;
    color: #fff;
    background: #129acb;
}

.customNav ul li {
    display: inline;
}

.customNav a {
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.16px;
    -webkit-transition: all .3s;
    transition: all .5s;
}

.customNav:hover, .customNavActive {
    color: #ffff;
    background-color: #7FCDE7;
    cursor: pointer;
}

.customNav:visited {
    color: #ffff;
    background-color: #1976D2;
}

.selectedMenu{
    text-align: center;
    background-color: lightgray;
    font-weight: 800;
}

#footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    clear:both;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font:85%/1.2 "tahoma",sans-serif;
    color: #393939;
    background-color: white;
    border-top:1px solid gray;
    border-bottom: 1px solid gray;
}

.footerText{
    padding-left:36%
}
.browserText{
    font-weight: bold;
    padding-left: 17%;
    color: #393939;
}
