h1.title {
    font-size: 50px;
    /*font-family: 'Passion One', cursive;*/
    font-weight: 400;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

.white {
    color: #FFF;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 50px;
    margin: 0 auto;
    padding: 40px 40px;
    background-color: #379ACB;
}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}
.style {
    padding-right: 11px;
    padding-top: 5px;
    font-size: 12px;
}