<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-2 col-xs-4 sidebar-kyc">
            <ul class="nav nav-sidebar-kyc">
                <li [class.active]="activeScreen=='personalInfo'"><a (click)="showInfo('personalInfo')">Personal
                    Info</a></li>
                <li *ngIf="details.custType" [class.active]="activeScreen=='FATCA'"><a
                        (click)="showInfo('FATCA')">FATCA</a></li>
            </ul>
        </div>
        <div class="col-md-10 col-xs-8 sidebar-kyc">
            <div class="row">
                <div class="col-xs-6 text-left" style="margin-bottom: 10px">
                    <button type="button" class="btn btn-default active" (click)="backToSearch()" id="back">
                        <span class="glyphicon glyphicon-arrow-left" style="margin-right: 5px;"></span>
                        <span>Back To Customer Search</span>
                    </button>
                </div>
            </div>
            <form *ngIf="activeScreen=='personalInfo'" class="form-horizontal">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><label>Personal Information : {{customerId}}</label>
                            <span style="float:right">
                                <button type="button" class="btn btn-primary" title="Edit Personal information"
                                        (click)="editDetails()">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>

                        <div class="panel-body">


                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Customer
                                    Category:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="Custom Category"
                                           readonly
                                           value="{{details.custType}}">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Name:</label>
                                <div class="col-sm-6 col-md-8">

                                    <input type="text" class="form-control" placeholder="Name"
                                           readonly
                                           value="{{details.name}}">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Date of Birth:</label>
                                <div class="col-sm-6 col-md-8">

                                    <input type="text" class="form-control" placeholder="Date of Birth"
                                           readonly
                                           value="{{details.dob}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Gender:</label>
                                <div class="col-sm-6 col-md-8">

                                    <input type="text" class="form-control" placeholder="gender"
                                           readonly
                                           value="{{details.gender}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Address:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="address"
                                           readonly
                                           value="{{details.address}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">NIC:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="NIC"
                                           readonly
                                           value="{{details.NIC}}">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Customer Branch:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="Customer Branch"
                                           readonly
                                           value="{{details.customerBranch}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Citizenship:</label>
                                <div class="col-sm-6 col-md-8">

                                    <input type="text" class="form-control" placeholder="citizenship"
                                           readonly
                                           value="{{details.citizenship}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Telephone Number:</label>
                                <div class="col-sm-6 col-md-8">

                                    <input type="text" class="form-control" placeholder="Telephone Number"
                                           readonly
                                           value="{{details.homeTel}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Mobile Number:</label>
                                <div class="col-sm-6 col-md-8">

                                    <input type="text" class="form-control" placeholder="Mobile Number"
                                           readonly
                                           value="{{details.mobile1}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Email:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="Email"
                                           readonly
                                           value="{{details.email}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Risk Level:</label>
                                <div class="col-sm-6 col-md-8">
                                    <select class="form-control" [(ngModel)]="riskLevel" name="riskLevel"
                                            [disabled]="!isEditRiskLevel">
                                        <option [ngValue]="'L1'">L1</option>
                                        <option [ngValue]="'L2'">L2</option>
                                        <option [ngValue]="'L3'">L3</option>
                                        <option [ngValue]="'L4'">L4</option>
                                        <option [ngValue]="'L5'">L5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Related Party:</label>
                                <div class="col-sm-6 col-md-8">
                                    <select class="form-control" [(ngModel)]="details.bankRelatedFamily" name="relatedParty"
                                            [disabled]="!isEditRelatedParty">
                                        <option [ngValue]="'yes'">Yes</option>
                                        <option [ngValue]="'no'">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-6">
                        <!--<input *ngIf="isEdit" type="button" class="btn btn-danger" id="cancel" (click)="cancelChanges()" value="Cancel">-->
                        <input *ngIf="isEdit" type="button" class="btn btn-info active" id="confirm"
                               (click)="submitChanges()" value="Submit">
                    </div>
                </div>
            </form>


            <form *ngIf="activeScreen=='FATCA'" class="form-horizontal">

                <div class="panel panel-default">
                    <div class="panel-heading"><label>FATCA Details : {{customerId}} </label>
                        <span style="float:right">
                                <!--<button type="button" class="btn btn-primary" title="Edit Personal information"
                                        (click)="isEdit = !isEdit">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>-->
                            </span>
                    </div>

                    <div class="panel-body">


                        <div class="form-group"
                             *ngIf="(details.custType).toUpperCase()=='INDIVIDUAL' || (details.custType).toUpperCase()=='ENTITY'">
                            <label class="col-sm-6 col-md-4 control-label">Type of Customer:</label>
                            <div class="col-sm-6 col-md-8">
                                <select
                                        class="form-control" name="typeOfCustomer" (change)="updateFatcaDetailModel(fatcaDetails.usPerson)" [(ngModel)]="fatcaDetails.usPerson">
                                    <option [ngValue]="'US'">U.S. Person</option>
                                    <option [ngValue]="'NON-US'">Non U.S. Person</option>
                                    <option [ngValue]="'RECALCITRANT'">Recalcitrant</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group"
                             *ngIf="(details.custType).toUpperCase()=='FINANCIALINSTITUITION'">
                            <label class="col-sm-6 col-md-4 control-label">Type of Instituition:</label>
                            <div class="col-sm-6 col-md-8">
                                <select
                                        class="form-control" name="typeOfInstituition" [(ngModel)]="fatcaDetails.npfi">
                                    <option [ngValue]="'Participating'">Participating</option>
                                    <option [ngValue]="'Non-Participating'">Non-Participating</option>
                                </select>
                            </div>

                        </div>


                        <div *ngIf="(fatcaDetails.usPerson).toUpperCase()=='RECALCITRANT'">
                            <div class="alert alert-info">
                                No further details required.
                            </div>
                        </div>

                        <div *ngIf="fatcaDetails.npfi=='Non-Participating'">
                            <div class="alert alert-info">
                                The following user would be considered for FATCA reporting !
                            </div>
                        </div>

                        <!-- Forms for Individual Type -->

                        <div
                                *ngIf="(details.custType).toUpperCase()=='INDIVIDUAL' && (fatcaDetails.usPerson).toUpperCase()=='NON-US'">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Is W 8 BEN available:</label>
                                <div class="col-sm-6 col-md-8">
                                    <select class="form-control" name="BenAvailibility"
                                            [(ngModel)]="fatcaDetails.w8Available">
                                        <option [ngValue]="'Yes'">Yes</option>
                                        <option [ngValue]="'No'">No</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Expiry Date:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="date"
                                           class="form-control" name="expiryDate"
                                           [(ngModel)]="fatcaDetails.expiryDate"
                                           placeholder="Please enter date">
                                </div>
                            </div>
                        </div>


                        <div
                                *ngIf="(details.custType).toUpperCase()=='INDIVIDUAL' && (fatcaDetails.usPerson).toUpperCase()=='US'">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Address:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="Address of Account Holder"
                                           name="address" [(ngModel)]="fatcaDetails.acctHolderAddress">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">City:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="City"
                                           name="city" [(ngModel)]="fatcaDetails.acctHolderCity">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">State:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="State"
                                           name="state" [(ngModel)]="fatcaDetails.acctHolderState">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Country:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="Country"
                                           name="country" [(ngModel)]="fatcaDetails.acctHolderCountry">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Pin Number:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="PIN Number"
                                           name="pin" [(ngModel)]="fatcaDetails.acctHolderPcode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">TIN Number:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="TIN Number"
                                           name="tin" [(ngModel)]="fatcaDetails.acctHolderTin">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Declaration:</label>
                                <div class="col-sm-6 col-md-8">
                                    <select class="form-control" [(ngModel)]="fatcaDetails.ahfd"
                                            name="declaration">
                                        <option [ngValue]="'Yes'">Yes</option>
                                        <option [ngValue]="'No'">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--------------------------------------------------------------------------------------------------------------->

                        <!-- Forms for Entity Type -->
                        <div *ngIf="((details.custType).toUpperCase()=='ENTITY') && fatcaDetails.usPerson=='NON-US'">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Is W 8 BEN available:</label>
                                <div class="col-sm-6 col-md-8">
                                    <select class="form-control" name="BenAvailibility"
                                            [(ngModel)]="fatcaDetails.w8Available">
                                        <option [ngValue]="'Yes'">Yes</option>
                                        <option [ngValue]="'No'">No</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Expiry Date:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="date"
                                           class="form-control" name="expiryDate"
                                           [(ngModel)]="fatcaDetails.expiryDate"
                                           placeholder="Please enter date">
                                </div>
                            </div>
                        </div>

                        <div
                                *ngIf="((details.custType).toUpperCase()=='ENTITY') && fatcaDetails.usPerson=='US'">

                            <h3>Entity Info:</h3>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Address:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="Address of Account Holder"
                                           name="entity_address" [(ngModel)]="fatcaDetails.acctHolderAddress">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">City:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="City"
                                           name="entity_city" [(ngModel)]="fatcaDetails.acctHolderCity">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">State:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="State"
                                           name="entity_state" [(ngModel)]="fatcaDetails.acctHolderState">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Country:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="Country"
                                           name="entity_country" [(ngModel)]="fatcaDetails.acctHolderCountry">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Pin Number:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="PIN Number"
                                           name="entity_pin" [(ngModel)]="fatcaDetails.acctHolderPcode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">TIN Number:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="TIN Number"
                                           name="entity_tin" [(ngModel)]="fatcaDetails.acctHolderTin">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Declaration:</label>
                                <div class="col-sm-6 col-md-8">
                                    <select class="form-control" [(ngModel)]="fatcaDetails.ahfd"
                                            name="entity_declaration">
                                        <option [ngValue]="'Yes'">Yes</option>
                                        <option [ngValue]="'No'">No</option>
                                    </select>
                                </div>
                            </div>

                            <h3>Owner Info:</h3>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Owner Name:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="Address of Account Holder"
                                           name="owner_address" [(ngModel)]="fatcaDetails.ownerName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Address:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="Address of Account Holder"
                                           name="owner_address" [(ngModel)]="fatcaDetails.ownerAddress">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">City:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="City"
                                           name="owner_city" [(ngModel)]="fatcaDetails.ownerCity">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">State:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="State"
                                           name="owner_state" [(ngModel)]="fatcaDetails.ownerState">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Country:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="Country"
                                           name="owner_country" [(ngModel)]="fatcaDetails.ownerCountry">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Pin Number:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="PIN Number"
                                           name="owner_pin" [(ngModel)]="fatcaDetails.ownerPcode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">TIN Number:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="TIN Number"
                                           name="owner_tin" [(ngModel)]="fatcaDetails.ownerTin">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Declaration:</label>
                                <div class="col-sm-6 col-md-8">
                                    <select class="form-control" [(ngModel)]="fatcaDetails.ofd"
                                            name="owner_declaration">
                                        <option [ngValue]="'Yes'">Yes</option>
                                        <option [ngValue]="'No'">No</option>
                                    </select>
                                </div>
                            </div>


                        </div>

                        <!--------------------------------------------------------------------------------------------------------------->

                        <!-- Forms for Financial Type -->

                        <div *ngIf="((details.custType).toUpperCase()=='FINANCIAL') && fatcaDetails.usPerson=='NON-US'">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Is W 8 BEN available:</label>
                                <div class="col-sm-6 col-md-8">
                                    <select class="form-control" name="BenAvailibility"
                                            [(ngModel)]="fatcaDetails.w8Available">
                                        <option [ngValue]="'Yes'">Yes</option>
                                        <option [ngValue]="'No'">No</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Expiry Date:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="date"
                                           class="form-control" name="expiryDate"
                                           [(ngModel)]="fatcaDetails.expiryDate"
                                           placeholder="Please enter date">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-6">
                        <!--<input *ngIf="isEdit" type="button" class="btn btn-danger" id="cancel" (click)="cancelChanges()" value="Cancel">-->
                        <input  type="button" class="btn btn-info active" (click)="submitChanges()"
                                value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
