#foo {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
	background-color: #d9edf7;
	color: #337ab7;
	text-align: center;
        padding: 3px;
        
}
 #head
  {
  position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
    }
   
