<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-2 col-xs-4 sidebar-kyc">
            <ul class="nav flex-column nav-sidebar-kyc">
                <li class = "nav-link" [class.active]="activeScreen=='personalInfo'"><a (click)="showInfo('personalInfo')">Personal
                    Info</a></li>
                <li class = "nav-link" *ngIf="custDetails.custType" [class.active]="activeScreen=='FATCA'"><a
                        (click)="showInfo('FATCA')">FATCA</a></li>
            </ul>
        </div>
        <div class="col-md-10 col-xs-8 sidebar-kyc">
            <div class="row">
                <div class="col-xs-6 text-left" style="margin-bottom: 10px">
                    <button type="button" class="btn btn-default active" (click)="backToSearch()" id="back">
                        <span style="margin-right: 5px;">
                            <img src="/cdn/svg/si-glyph-arrow-thin-left.svg" style="width: 15px"/>
                        </span>
                        <span>Back To Customer Search</span>
                    </button>
                </div>
            </div>
            <form *ngIf="activeScreen=='personalInfo'" class="form-horizontal">
                <div>
                    <div class="card ">
                        <div class="card-header"><label>Personal Information : {{customerId}}</label>
                            <span style="float:right">
                                <button type="button" class="btn btn-primary" title="Edit Personal information"
                                        (click)="editDetails()">
                                <span  aria-hidden="true">
                                    <img src="/cdn/svg/si-glyph-pencil.svg" style="width: 15px"/>
                                </span>
                                </button>
                            </span>
                        </div>

                        <div class="card-body" >
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Customer
                                    Category:</label>
                                <div class="col-sm-6 col-md-8"
                                     *ngIf="custDetails.custType == 'P'">
                                    <input type="text" class="form-control" placeholder="Custom Category"
                                           value="Individual" readonly>
                                </div>
                                <div class="col-sm-6 col-md-8"
                                     *ngIf="custDetails.custType == 'NP'">
                                    <input type="text" class="form-control" placeholder="Custom Category"
                                           value="Entity" readonly>
                                </div>
                                <div class="col-sm-6 col-md-8"
                                     *ngIf="custDetails.custType == 'FI'">
                                    <input type="text" class="form-control" placeholder="Custom Category"
                                           value="Financial Institution" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Name:</label>
                                <div class="col-sm-6 col-md-8">

                                    <input type="text" class="form-control" placeholder="Name"
                                           readonly
                                           value="{{custDetails.name}}">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Date of Birth:</label>
                                <div class="col-sm-6 col-md-8">

                                    <input type="text" class="form-control" placeholder="Date of Birth"
                                           readonly
                                           value="{{custDetails.dob}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Gender:</label>
                                <div class="col-sm-6 col-md-8">

                                    <input type="text" class="form-control" placeholder="gender"
                                           readonly
                                           value="{{custDetails.gender}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Address:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="address"
                                           readonly
                                           value="{{custDetails.address}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">NIC:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="NIC"
                                           readonly
                                           value="{{custDetails.NIC}}">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Customer Branch:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="Customer Branch"
                                           readonly
                                           value="{{custDetails.customerBranch}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Citizenship:</label>
                                <div class="col-sm-6 col-md-8">

                                    <input type="text" class="form-control" placeholder="citizenship"
                                           readonly
                                           value="{{custDetails.citizenship}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Telephone Number:</label>
                                <div class="col-sm-6 col-md-8">

                                    <input type="text" class="form-control" placeholder="Telephone Number"
                                           readonly
                                           value="{{custDetails.homeTel}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Mobile Number:</label>
                                <div class="col-sm-6 col-md-8">

                                    <input type="text" class="form-control" placeholder="Mobile Number"
                                           readonly
                                           value="{{custDetails.mobile1}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Email:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="Email"
                                           readonly
                                           value="{{custDetails.email}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Risk Level:</label>
                                <div class="col-sm-6 col-md-8">
                                    <select class="form-control" [(ngModel)]="riskLevel" name="riskLevel"
                                            [disabled]="!isEditRiskLevel">
                                        <option [ngValue]="'L1'">L1</option>
                                        <option [ngValue]="'L2'">L2</option>
                                        <option [ngValue]="'L3'">L3</option>
                                        <option [ngValue]="'L4'">L4</option>
                                        <option [ngValue]="'L5'">L5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Related Party:</label>
                                <div class="col-sm-6 col-md-8">
                                    <select class="form-control" [(ngModel)]="custDetails.bankRelatedFamily"
                                            name="relatedParty"
                                            [disabled]="!isEditRelatedParty">
                                        <option [ngValue]="'yes'">Yes</option>
                                        <option [ngValue]="'no'">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-6">
                        <!--<input *ngIf="isEdit" type="button" class="btn btn-danger" id="cancel" (click)="cancelChanges()" value="Cancel">-->
                        <input *ngIf="isEdit" type="button" class="btn btn-info active" id="confirm"
                               (click)="submitChanges()" value="Submit">
                    </div>
                </div>
            </form>


            <form *ngIf="activeScreen=='FATCA'" class="form-horizontal">

                <div class="card" >
                    <div class="card-header"><label>FATCA custDetails : {{customerId}} </label>
                        <span style="float:right">
                                <!--<button type="button" class="btn btn-primary" title="Edit Personal information"
                                        (click)="isEdit = !isEdit">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>-->
                            </span>
                    </div>

                    <div class="card-body">


                        <div class="form-group"
                             *ngIf="custDetails.custType =='P' || custDetails.custType =='NP'">
                            <label class="col-sm-6 col-md-4 control-label">Type of Customer:</label>
                            <div class="col-sm-6 col-md-8">
                                <select
                                        class="form-control" name="typeOfCustomer"
                                        (change)="updateFatcaDetailModel(fatcaDetails.usPerson)"
                                        [(ngModel)]="fatcaDetails.usPerson">
                                    <option [ngValue]="'US'">U.S. Person</option>
                                    <option [ngValue]="'NON-US'">Non U.S. Person</option>
                                    <option *ngIf="custDetails.custType =='P'" [ngValue]="'Recalcitrant Customers that are US persons'">Recalcitrant Customers that are US persons</option>
                                    <option *ngIf="custDetails.custType =='P'" [ngValue]="'Recalcitrant Customers with US indicia'">Recalcitrant Customers with US indicia</option>
                                    <option *ngIf="custDetails.custType =='P'" [ngValue]="'Recalcitrant Customers without US indicia'">Recalcitrant Customers without US indicia</option>
                                    <option *ngIf="custDetails.custType =='NP'" [ngValue]="'Recalcitrant customers that are NFFEs'">Recalcitrant customers that are NFFEs</option>

                                </select>
                            </div>
                        </div>


                        <div class="form-group"
                             *ngIf="custDetails.custType =='FI'">
                            <label class="col-sm-6 col-md-4 control-label">Type of Instituition:</label>
                            <div class="col-sm-6 col-md-8">
                                <select
                                        class="form-control" name="typeOfInstituition" [(ngModel)]="fatcaDetails.npfi">
                                    <option [ngValue]="'Participating'">Participating</option>
                                    <option [ngValue]="'Non-Participating'">Non-Participating</option>
                                </select>
                            </div>

                        </div>


                        <div *ngIf="((fatcaDetails.usPerson != undefined) && (fatcaDetails.usPerson).toUpperCase().includes('RECALCITRANT'))">
                            <div class="alert alert-info">
                                No further details required.
                            </div>
                        </div>

                        <div *ngIf="fatcaDetails.npfi=='Non-Participating'">
                            <div class="alert alert-info">
                                The following user would be considered for FATCA reporting !
                            </div>
                        </div>

                        <!-- Forms for P and NP (Non US) Type -->

                        <div
                                *ngIf="(custDetails.custType =='P' || custDetails.custType =='NP') && (fatcaDetails.usPerson != undefined) && (fatcaDetails.usPerson).toUpperCase()=='NON-US'">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Is W 8 BEN available:</label>
                                <div class="col-sm-6 col-md-8">
                                    <select class="form-control" name="BenAvailibility"
                                            [(ngModel)]="fatcaDetails.w8Available">
                                        <option [ngValue]="'Yes'">Yes</option>
                                        <option [ngValue]="'No'">No</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Expiry Date:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="date"
                                           class="form-control" name="expiryDate"
                                           [(ngModel)]="fatcaDetails.expiryDate"
                                           placeholder="Please enter date">
                                </div>
                            </div>
                        </div>


                        <div *ngIf="(custDetails.custType =='P' || custDetails.custType =='NP') && (fatcaDetails.usPerson != undefined) && (fatcaDetails.usPerson).toUpperCase()=='US'">

                            <div>
                                <h3>Account Holder Info:</h3>
                                <div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">Address:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <input type="text" class="form-control"
                                                   placeholder="Address of Account Holder"
                                                   name="AHaddress" [(ngModel)]="accountHolderUser.address">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">City:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <input type="text" class="form-control" placeholder="City"
                                                   name="AHcity" [(ngModel)]="accountHolderUser.city">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">State:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <input type="text" class="form-control" placeholder="State"
                                                   name="AHstate" [(ngModel)]="accountHolderUser.state">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">Country:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <input type="text" class="form-control" placeholder="Country"
                                                   name="AHcountry" [(ngModel)]="accountHolderUser.country">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">Pin Number:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <input type="text" class="form-control" placeholder="PIN Number"
                                                   name="AHpin" [(ngModel)]="accountHolderUser.pcode">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">TIN Number:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <input type="text" class="form-control" placeholder="TIN Number"
                                                   name="AHtin" [(ngModel)]="accountHolderUser.tin">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">Declaration:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <select class="form-control"
                                                    [(ngModel)]="accountHolderUser.fatcaDeclaration"
                                                    name="AHdeclaration">
                                                <option [ngValue]="'Yes'">Yes</option>
                                                <option [ngValue]="'No'">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="custDetails.custType =='NP' ">
                                <div *ngFor="let ownerUser of ownerInfoArray; let i = index">
                                    <div class="row">
                                        <h3 style="margin-left:1%">Owner Info:
                                            <button *ngIf="i>=1" class="btn btn-primary" (click)="deleteUser(i)"
                                                    style="padding: 4px 9px;margin-bottom: 2%;">
                                                <img src="/cdn/svg/si-glyph-trash.svg" title="Delete user" style="width: 15px"/>
                                            </button>
                                            <!--<div class="col-sm-6" style="float: right;" *ngIf="i >= 1"></div>-->
                                        </h3>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">Name:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <input type="text" class="form-control"
                                                   placeholder="Name of Owner"
                                                   name='"name-"+{{i}}' [(ngModel)]="ownerUser.name">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">Address:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <input type="text" class="form-control"
                                                   placeholder="Address of Owner"
                                                   name='"address-"+{{i}}' [(ngModel)]="ownerUser.address">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">City:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <input type="text" class="form-control" placeholder="City"
                                                   name='"city-"+{{i}}' [(ngModel)]="ownerUser.city">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">State:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <input type="text" class="form-control" placeholder="State"
                                                   name='"state-"+{{i}}' [(ngModel)]="ownerUser.state">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">Country:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <input type="text" class="form-control" placeholder="Country"
                                                   name='"country-"+{{i}}' [(ngModel)]="ownerUser.country">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">Pin Number:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <input type="text" class="form-control" placeholder="PIN Number"
                                                   name='"pin-"+{{i}}' [(ngModel)]="ownerUser.pcode">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">TIN Number:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <input type="text" class="form-control" placeholder="TIN Number"
                                                   name='"tin"-"+{{i}}' [(ngModel)]="ownerUser.tin">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 control-label">Declaration:</label>
                                        <div class="col-sm-6 col-md-8">
                                            <select class="form-control"
                                                    [(ngModel)]="ownerUser.fatcaDeclaration"
                                                    name='"declaration-"+{{i}}'>
                                                <option [ngValue]="'Yes'">Yes</option>
                                                <option [ngValue]="'No'">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-primary" (click)="addUser()"
                                            style="float: right">
                                    <img src="/cdn/svg/si-glyph-button-plus.svg" style="width: 15px" title="Add new user"/>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <!--------------------------------------------------------------------------------------------------------------->

                        <!-- Forms for Financial Type -->

                        <div *ngIf="(custDetails.custType=='FI') && (fatcaDetails.usPerson != undefined) && fatcaDetails.usPerson=='NON-US'">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Is W 8 BEN available:</label>
                                <div class="col-sm-6 col-md-8">
                                    <select class="form-control" name="BenAvailibility"
                                            [(ngModel)]="fatcaDetails.w8Available">
                                        <option [ngValue]="'Yes'">Yes</option>
                                        <option [ngValue]="'No'">No</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 control-label">Expiry Date:</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="date"
                                           class="form-control" name="expiryDate"
                                           [(ngModel)]="fatcaDetails.expiryDate"
                                           placeholder="Please enter date">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-6">
                        <!--<input *ngIf="isEdit" type="button" class="btn btn-danger" id="cancel" (click)="cancelChanges()" value="Cancel">-->
                        <input type="button" [disabled]="canEdit=='true'" class="btn btn-info active" style="margin-left: 45%;margin-top: 5px" (click)="submitChanges()"
                               value="Submit">
                </div>
                <br>
                <br>
                </div>
            </form>
        </div>
    </div>
</div>